// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  justify-content: center;
  flex-grow: 1;
}

.letter-cards {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-template-areas: "letter-cards . . . . . . . .";
  list-style: none;
  margin: auto;
}


